.input-wrapper {
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.input {
  border: 1px solid var(--gray-200);
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: var(--gray-100);
  transition: 0.2s;
  color: var(--gray-700);
}

.input:focus,
.input:hover {
  outline: none;
  border-color: var(--yellow-400);
  box-shadow: 0 0 0 3px var(--yellow-100);
  background: var(--gray-50);
}

.error {
  color: var(--red-500);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
